/* General */

body {
    width: 100%;
    background-color:#f5f5f5;    
    font-family:'Calibri';
}

h1 {
    text-align: center;
    margin-top: 0.7em;
    color:#6296b1;
    font-weight:bold;
    font-size:8em;
}

h2 {
    text-align: center;
    color: #303030;
    font-size:2em;
    margin-top:2em;
    margin-bottom:3em;
    margin-right:2em;
}

h3 {
    font-size:2em;
    margin-top: 3em;
    color:#414041;
    text-align: center;
}

h4 {
    font-size:1.5em;
    margin-left: 5.2em;
    margin-bottom:2em;
    margin-top:2em;
    color: black;
    text-align: left;
}

h5 {
    font-size:1.3em;
    margin-left: 7em;
    margin-bottom:2em;
    margin-top:1.5em;
    color: #a34a28;
    text-align: left;
}


.TabsH1 {
    margin-top: 2em;
    color:#6296b1;
    font-weight:bold;
    font-size:5em;
    text-align:center;
    margin-right:1.5em;
}

#computerLogo {
    position: absolute;
    top: 20px;
}
/* Menu Items */
        
      #menu ul {
      position: relative;
      list-style-type:none;
      overflow: hidden;
      padding-left: 10em;   
      }

      #menu li {
      font-family:"Forum";
      font-size: 1.7em;
      float:left;
      position:relative;
      margin-left:3em;
      margin-right:2.8em;
      }

      #menu li:hover{
      text-decoration:underline;
      }
        
      #menu a:hover{
      color:#6296b1;
      }

      #menu a{
      text-decoration: none;
      color: #111111;
      display:block;
      }

/* Index */

      #indexH2 {
    text-align: center;
    color: #3f565e;
    font-family:"Myriad Pro";
    font-size:2em;
    margin-top:2em;
    margin-bottom:3em;
    margin-right:2em; 
      }

/* About */

#aboutH2 {
  margin-top:1.5em;
  text-align:center;
}

#background {
    border: 1px white dashed;
}

#backgroundH2 {
    color: #a34a28;
    font-family: 'Merriweather';
    max-width: 200px;
    margin-left:0.9em;
    margin-bottom:0em;
}

#backgroundPara, #experiencePara, #interestsPara {
    color: black;
    font-family: 'Merriweather';
    font-size: 1.2em;
    max-width: 40em;
    margin-left: 2em;
    line-height:1.5em;
}

#interestsPara {
    margin-bottom: 4em;
}

#experienceH2 {
    color: #a34a28;
    font-family: 'Merriweather';
    max-width: 200px;
    margin-left: 0.6em;
    margin-bottom:0em;
}

#interestsH2 {
    max-width: 200px;
    font-family: 'Merriweather';
    color: #a34a28;
    margin-left: 0.2em;
    margin-bottom:0em;
}

#resume {
    font-size:3em;
    color:#414041;
    margin-left: 17em;
}

#resume:hover {
    text-transform: underline;
    color: #6296b1;
}

/* Studio C */

#studioC {
    margin-top: 2em;
    margin-left:2em;
    color:#6296b1;
    font-weight:bold;
    font-family:"calibri";
    font-size:5em;
    text-align:left;
}

#scDescription {
    color: black;
    font-family: 'Merriweather';
    font-size: 1.2em;
    max-width: 60%;
    margin-left: 8em;
    line-height:1.5em;  
}

/* Contact */

#contactH2 {
    text-align: center;
    margin-top: 4em;
    color:#6296b1;
    font-weight:bold;
    font-family:"calibri";
    font-size:4em;
}

#header {
    background-color:#6296b1;
    width:100%;
    height:200px;
}

/* Works */

#WorksH1 {
  margin-top:4em;
  text-align:left;
  margin-left: 1.8em;
}

#WorksH2 {
    margin-top:4em;
    text-align: center; 
    max-width:30em;
    margin-left:14em;
}

.Logo {
      position: relative;
      list-style-type:none;
      overflow: hidden;
}

.work {
    display: block;
}

#logo1, #logo2 {
    width: 300px;
    height: 300px;
}

.logoPara {
      display:block;
      font-family:"Merriweather";
      font-size: 0.7em;
      float:left;
      position:relative;
      margin-left:0em;
      margin-right: 4em;
}

#businessCard {
    width: 250px;
    height: 150px;
}

#fableAnimation, #Jayme {
    width: 350px;
    height: 250px;
}

#holidayCard {
    width: 350px;
    height: 450px;
}

#inferno {
    width: 650px;
    height: 450px;
}

#flash {
    width: 450px;
    height: 250px;
}

